# system
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
!.gitignore
*~
.directory

# frontend
.sass_cache
src/scss/.sass_cache/
node_modules
src/components

# silverstripe core
/assets/*
_ss_environment.php
/silverstripe-cache
/vendor/

# silverstripe modules
/cms
/framework
/googlesitemaps
/silverstripe-link-field
